<h1>Listing api_v1_activities</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_v1_activities.each do |api_v1_activity| %>
  <tr>
    <td><%= link_to 'Show', api_v1_activity %></td>
    <td><%= link_to 'Edit', edit_api_v1_activity_path(api_v1_activity) %></td>
    <td><%= link_to 'Destroy', api_v1_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_api_v1_activity_path %>
