<h1>Listing api_v1_comments</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_v1_comments.each do |api_v1_comment| %>
  <tr>
    <td><%= link_to 'Show', api_v1_comment %></td>
    <td><%= link_to 'Edit', edit_api_v1_comment_path(api_v1_comment) %></td>
    <td><%= link_to 'Destroy', api_v1_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_api_v1_comment_path %>
