<h1>Listing api_v1_tokens</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_v1_tokens.each do |api_v1_token| %>
  <tr>
    <td><%= link_to 'Show', api_v1_token %></td>
    <td><%= link_to 'Edit', edit_api_v1_token_path(api_v1_token) %></td>
    <td><%= link_to 'Destroy', api_v1_token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Token', new_api_v1_token_path %>
