<h1>Listing api_v1_subcategories</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_v1_subcategories.each do |api_v1_subcategory| %>
  <tr>
    <td><%= link_to 'Show', api_v1_subcategory %></td>
    <td><%= link_to 'Edit', edit_api_v1_subcategory_path(api_v1_subcategory) %></td>
    <td><%= link_to 'Destroy', api_v1_subcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subcategory', new_api_v1_subcategory_path %>
