<h1>Listing api_v1_posts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_v1_posts.each do |api_v1_post| %>
  <tr>
    <td><%= link_to 'Show', api_v1_post %></td>
    <td><%= link_to 'Edit', edit_api_v1_post_path(api_v1_post) %></td>
    <td><%= link_to 'Destroy', api_v1_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_api_v1_post_path %>
